<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UCL.ISM.Client</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark ucl-nav">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="../../images/Logo_UCL.jpg" alt="logo" style="width: 12vw">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto mx-auto">
                    @*<li class="nav-item"><a class="nav-link" asp-area="" ><span class="glyphicon glyphicon-home" /></a></li>*@
                    @using Microsoft.Identity.Web
                    @if (User.Identity.IsAuthenticated && User.IsInRole(UCL.ISM.Client.Infrastructure.UserRoles.Administration))
                    {
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                                Ansøger
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Administration" asp-action="Create_Applicant">Opret Ansøger</a>
                                <a class="dropdown-item" asp-controller="Administration" asp-action="Applicant_Process">se ansøger proces</a>
                            </div>
                        </div>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                                    Spørgeskema
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Administration_InterviewScheme" asp-action="Create_InterviewScheme">Opret skema</a>
                                    <a class="dropdown-item" asp-controller="Administration_InterviewScheme" asp-action="Get_All_InterviewScheme">Rediger/slet skema</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Administration" asp-action="Create_StudyField">Uddannelse</a></li>
                    }
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">Om</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Kontakt</a></li>

                </ul>

                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item">
                                <a  asp-area="AzureAD" asp-controller="Account" asp-action="SignOut" class="nav-link"><span class="glyphicon glyphicon-user" /> Log ud</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav navbar-pull-right">
                        <li>
                            <a asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">
                                <span class="glyphicon glyphicon-user"> Sign-In</span>
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - UCL.ISM.Client</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
