@{
    ViewData["Title"] = "Velkommen";
}

<div class="text-center">

    <h3>@ViewData["Title"]</h3>
    <p>@ViewData["Message"]</p>

    <img src="~/images/ms-symbollockup_signin_dark.svg" />
</div>
<p>@ViewData["Culture"]</p>
