
@{
    ViewData["Title"] = "Interview";
}

<div class="container">
    <dl>
        <dt>Priority</dt>
        <dd></dd>
        <dt>Fag</dt>
        <dd></dd>
        <dt>Navn</dt>
        <dd></dd>
        <dt>Status</dt>
        <dd>
    </dl>
    <form class="form-horizontal" method="post">
        <div class="form-group" id="applicants">
            <table class="table-hover">
                <thead>
                    <tr>
                        <th>Prioritet</th>
                        <th>Fornavn</th>
                        <th>Efternavn</th>
                        <th>Fag</th>
                        <th>Nationalitet</th>
                        <th>EU</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div class="form-group" id="interviewScheme">

        </div>
</form>
</div>
