@model UCL.ISM.Client.Models.StudyFieldVM


<form asp-action="Pass_New_StudyField" asp-controller="Administration" method="post">
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label class="control-label" style="color: #014550">Uddannelsens navn:</label>
                <input asp-for="FieldName" type="text" class="form-control" />
            </div>
            <button type="submit" class="btn btn-success">Gem</button>
        </div>
    </div>
</form>