@model UCL.ISM.Client.Models.InterviewSchemeVM
@{ }
<div class="row">

    <div class="col-12">

    </div>
</div>

<div class="card flex-fill" style="background-color: #014550; color: #fff; margin-bottom: 30px;">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <input asp-for="Id" type="hidden" />
                <div class="form-group">
                    <small><label for="firstname">Navn</label></small>
                    <p>@Model.Name</p>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <small><label for="created">Lavet d.</label></small>
                    <small id="created">@Model.CreatedDate</small>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <small><label for="created">redigeret d.</label></small>
                    <small id="sidst redigeret">@Model.EditedDate</small>
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-12">
                <a asp-action="Get_Specific_Interview" asp-controller="Administration_InterviewScheme" asp-route-id="@Model.Id" class="btn btn-light" style="width: 100%;">Gå til</a>
            </div>
        </div>
    </div>
</div>





