@model UCL.ISM.Client.Models.ApplicantVM

<div class="modal-header">
    <h4 class="modal-title">Tilføj interviewer</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<form asp-action="Add_Interviewer" asp-controller="Administration" method="post">
    <div class="modal-body">
        <input asp-for="Id" type="hidden" />
        <select asp-for="Interviewer.Id" asp-items="@Model.Interviewers" class="form-control">
            <option value="">Vælg interviewer</option>
        </select>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Gem</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Luk</button>
    </div>
</form>
