@model UCL.ISM.Client.Models.InterviewSchemeVM

<div class="modal-header">
    <h4 class="modal-title">Rediger interview skema</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<form asp-action="Add_InterviewSchemeAndQuestionsToApplicant" asp-controller="Administration_InterviewScheme" method="post">
    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-7">
                        <label class="control-label">Skema navn:</label>
                        <input asp-for="Name" type="text" class="form-control" id="name" required />
                    </div>
                    <div class="col-5">
                        <label class="control-label">Skema Kommentar:</label>
                        <textarea asp-for="Comment" type="text" class="form-control" style="height: 500px;" id="comment"></textarea>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Lande skema gælder for:</label>
                            <select multiple="multiple" asp-for="CountryId" asp-items="@Model.Countries" class="form-control multi-select" style="height: 500px;" id="countries"></select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Uddannelser skema gælder for:</label>
                            <select multiple="multiple" asp-for="StudyfieldId" asp-items="@Model.Studyfields" class="form-control multi-select" style="height: 500px;" id="studyfields"></select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Gem</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Slet</button>
    </div>
</form>
