/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
}

.ucl-nav {
    background-color: #cbe5e4 !important;
    color: #014550 !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
}

    .ucl-nav a {
        color: #014550 !important;
        text-decoration: none;
    }

.ucl-bg {
    background: #cbe5e4;
    color: #fff;
}

.ucl-bg-dark {
    background: #014550;
    color: #fff;
}

.ucl-btn {
    outline-width: 2px;
    outline-style: solid;
    outline-color: #014550;
    border-radius: 0px;
    color: #014550 !important;
}

    .ucl-btn:hover {
        outline-width: 2px;
        outline-style: solid;
        outline-color: #014550;
        background: #014550;
        border-radius: 0px;
        color: #fff !important;
    }

.ucl-dropdown {
    list-style: none;
    /*background: #014550;*/
    padding: 10px;
    display: inline-block;
}

    .ucl-dropdown .dropdown-menu a {
        color: #000;
        text-decoration: none;
    }

.ucl-dropdown .btn {
    outline-width: 2px;
    outline-style: solid;
    outline-color: #014550;
    border-radius: 0px;
    color: #014550;
}

    .ucl-dropdown .btn:hover {
        outline-width: 2px;
        outline-style: solid;
        outline-color: #014550;
        background: #014550;
        border-radius: 0px;
        color: #fff;
    }

    .ucl-dropdown .btn:active {
        outline-width: 2px;
        outline-style: solid;
        outline-color: #014550;
        background: #014550;
        border-radius: 0px;
        color: #fff;
    }

    .ucl-dropdown .btn:focus {
        outline-width: 2px;
        outline-style: solid;
        outline-color: #014550;
        background: #014550;
        border-radius: 0px;
        color: #fff;
    }

.ucl-dropdown-menu .dropdown-item {
    display: inline-block;
    width: 100%;
    padding: 10px 5px;
}

.ucl-dropdown .dropdown-menu a:hover {
    color: #ffc107 !important;
    outline-width: 1px;
    outline-style: solid;
    outline-color: #ffc107;
}

.container .ucl-dropdown .dropdown-menu a:hover {
    color: #ffc107;
    outline-width: 1px;
    outline-style: solid;
    outline-color: #ffc107;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
