@model List<UCL.ISM.Client.Models.LimitedApplicantData>
@{
    ViewData["Title"] = "ApplicantsProcess";
    var admin = Model.Where(x => x.ProcessId == 1).ToList();
    var interview = Model.Where(x => x.ProcessId == 2).ToList();
    var finished = Model.Where(x => x.ProcessId == 3).ToList();
    var interviewers = new List<string>();
    foreach (var inter in interview)
    {
        if (!interviewers.Contains(inter.InterviewerName))
        {
            interviewers.Add(inter.InterviewerName);
        }
    }
    interviewers = interviewers.OrderBy(q => q).ToList();
}

<div style="padding: 10px 7px 40px 7px; background-image: linear-gradient(to bottom, #cbe5e4, #edf9fc);">
    <div class="text-center" style="margin-top: 40px; padding: 10px 7px 10px 7px">
        <h2 style="color: #014550">Status</h2>
    </div>
    <div class="row">
        <div class="col-12 col-md-4" style="border-right: solid 1px black">
            <h3 style="color: #014550">Påbegyndt</h3>

            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th class="text-center" style="color: #014550">Studieadministration</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < admin.Count; i++)
                    {
                        <partial name="../Administration/Partials/_ApplicantProcessAdministration" model="admin[i]" />
                    }
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-4" style="border-right: solid 1px black">
            <h3 style="color: #014550">Afventer interview</h3>
            @foreach (var name in interviewers)
            {
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th class="text-center" style="color: #014550">@name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < interview.Count; i++)
                        {
                            if (name == interview[i].InterviewerName)
                            {
                                <partial name="../Administration/Partials/_ApplicantProcessAdministration" model="interview[i]" />
                            }
                        }
                    </tbody>
                </table>
            }

        </div>
        <div class="col-12 col-md-4">
            <h3 style="color: #014550">Afsluttet</h3>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th class="text-center" style="color: #014550">Studieoptag</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < finished.Count; i++)
                    {
                        <partial name="../Administration/Partials/_ApplicantProcessAdministration" model="finished[i]" />
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>