@model UCL.ISM.Client.Models.InterviewSchemeVM
@{
    ViewData["Title"] = "Create_InterviewScheme";
}

<br />
<h2>Opret spørgeskema</h2>
<br />

<div class="container-fluid">
    <form asp-action="Pass_InterviewScheme" asp-controller="Administration" method="post">
        <div class="form-group">
            <select multiple="multiple" asp-for="CountryId" asp-items="@Model.Countries" class="form-control multi-select"  id="countries"></select>
        </div>

        <button type="submit" class="btn">Grem</button>
    </form>
</div>
