@model UCL.ISM.Client.Models.InterviewSchemeVM
@{
    ViewData["Title"] = "CreateQuestionToInterview";
}

<h2>Tilføj Spørgsmål</h2>

<div class="container-fluid">
    <form asp-action="Pass_InterviewScheme_Question" asp-controller="Administration_InterviewScheme" method="post">
        <div class="row">
            <div class="col-3">
                @Html.HiddenFor(x => x.Id)
                <input asp-for="Name" type="text" hidden />
                <input asp-for="Comment" type="text" hidden />
                <label class="control-label">Skema navn:</label>
                <input asp-for="Name" type="text" disabled class="form-control" id="name" />
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label class="control-label">Skema Kommentar:</label>
                    <textarea asp-for="Comment" rows="3" disabled class="form-control" id="comment"></textarea>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label class="control-label">Lande skema gælder for:</label>
                    <select multiple="multiple" asp-for="CountryId" asp-items="@Model.Countries" class="form-control multi-select" id="countries"></select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label class="control-label">Uddannelser skema gælder for:</label>
                    <select multiple="multiple" asp-for="StudyfieldId" asp-items="@Model.Studyfields" class="form-control multi-select" id="studyfields"></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Tilføj spørgsmål:</label>
                    <input asp-for="Question.Quest" type="text" value="" class="form-control" id="name" />
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success">Gem</button>
            </div>
        </div>
    </form>
    @*Lav til partial*@
    @if (Model.Questions.Count != 0)
    {
    <div style="margin-top: 30px;">
        <h3>Registreret spørgsmål</h3>
        
        @for (int i = 0; i < Model.Questions.Count; i++)
        {
        <partial name="../Administration/Partials/_EditQuestions" model="Model.Questions[i]" />
        }
    </div>
        
    }


</div>

