@model UCL.ISM.Client.Models.InterviewSchemeVM
@{
    ViewData["Title"] = "Create_InterviewScheme";
}

<br />
<h2>Opret spørgeskema</h2>
<br />

<div class="container-fluid">
    <form asp-action="Pass_InterviewScheme" asp-controller="Administration" method="post">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-xs-6">
                        <label class="control-label">Skema navn:</label>
                        <input asp-for="Name" type="text" class="form-control" id="name" />
                    </div>
                    <div class="col-xs-6">
                        <label class="control-label">Skema Kommentar:</label>
                        <textarea asp-for="Comment" type="text" class="form-control" style="height: 450px;" id="comment"></textarea>
                    </div>
                </div>

                <button type="submit" class="btn btn-success" style="margin-top: 30px;">Gem</button>

            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            <label class="control-label">Lande skema gælder for:</label>
                            <select multiple="multiple" asp-for="CountryId" asp-items="@Model.Countries" class="form-control multi-select" style="height: 500px;" id="countries"></select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="eu" class="control-label">EU: <br />
                                <input type="checkbox" name="vehicle1" value="Bike" style="width: 25px; height: 25px;" id="eu">
                            </label>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </form>
</div>
