
@{
    ViewData["Title"] = "Create_StudyField";
}
<br />
<h2>Opret fag</h2>
<br />
<div class="container-fluid">
    <form method="post">
        <div class="form-group">
            <label class="control-label col-lg-2">Navn:</label>
            <div class="col-lg-2">
                <input type="text" class="form-control" />
            </div>
        </div>

    </form>
</div>
