@model UCL.ISM.Client.Models.ApplicantVM
@{
    ViewData["Title"] = "Create_Applicant";
}

<div style="padding: 10px 7px 40px 7px; background-image: linear-gradient(to bottom, #cbe5e4, #edf9fc);">
    <div class="text-center" style="margin-top: 40px; padding: 10px 7px 10px 7px">
        <h2 style="color: #014550">Opret ansøger</h2>
    </div>
    <div class="text-center" style="color: #014550">
        <h4>Ansøger information</h4>
    </div>
    <br />
    <form asp-action="createApplicant" asp-controller="Administration" class="form-horizontal" method="post">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="form-group" style="padding: 5px">
                                    <label class="control-label" for="prio" style="color: #014550">Prioritet:</label>
                                    <select asp-for="Priority" id="priority" class="form-control">
                                        <option selected="selected" value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group" style="padding: 5px">
                                    <label class="control-label" for="field" style="color: #014550">Uddannelse:</label>
                                    <select asp-for="StudyField.Id" asp-items="@Model.StudyFields" class="form-control" required id="studyfield">
                                        <option value="">Vælg uddannelse</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group" style="padding: 5px">
                                    <label class="control-label" for="applicant" style="color: #014550">Fornavn:</label>
                                    <input asp-for="Firstname" type="text" class="form-control" id="firstname" placeholder="Ansøgers fornavn" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group" style="padding: 5px">
                                    <label class="control-label" for="lastname" style="color: #014550">Efternavn:</label>
                                    <input asp-for="Lastname" type="text" class="form-control" id="lastname" placeholder="Ansøgers efternavn" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="form-group" style="padding: 5px">
                                    <label class="control-label" for="age" style="color: #014550">Alder:</label>
                                    <input asp-for="Age" type="number" class="form-control" id="age" />
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group" style="padding: 5px">
                                            <label class="control-label" for="nationality" style="color: #014550">Nationalitet:</label>
                                            <select asp-for="Nationality.Id" asp-items="@Model.Nationalities" class="form-control" required id="nationality">
                                                <option value="">Vælg land</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group text-center" style="padding: 5px">
                                            <label class="control-label" for="residence" style="color: #014550">Opholds.til:</label>
                                            <input asp-for="HasResidencePermit" type="checkbox" class="form-control" id="residence" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group" style="padding: 5px">
                                    <label class="control-label" for="email" style="color: #014550">E-mail:</label>
                                    <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Ansøgers E-mail" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group" style="padding: 5px">
                                    <label class="control-label" for="interviewer" style="color: #014550">Interviewer:</label>
                                    <select asp-for="Interviewer.Id" asp-items="@Model.Interviewers" class="form-control" id="interviewer">
                                        <option value="">Vælg interviewer</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group" style="padding: 5px">
                    <label class="control-label" for="comment" style="color: #014550">Kommentar:</label>
                    <textarea asp-for="Comment" placeholder="Skriv en kommentar ..." class="form-control" rows="14" id="comment"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-2">
                <button type="submit" class="btn ucl-btn" style="width: 100%;">Opret</button>
            </div>
        </div>
    </form>
</div>
