
@{
    ViewData["Title"] = "Create_InterviewScheme";
}

<br />
<h2>Opret spørgeskema</h2>
<br />

<div class="container">
    <form asp-action="Create_InterviewScheme" method="post">
        <div class="form-group">

        </div>
    </form>
</div>
