@model UCL.ISM.Client.Models.StudyFieldVM

<br />
<h2>Opret uddannelse</h2>
<br />
<div class="container-fluid">
    <partial name="../Administration/Partials/_Add_StudyField" />

    <div style="margin-top: 50px;">
        <h3>Registrerede uddannelser</h3>
        <hr />
        <partial name="../Administration/Partials/_All_StudyFields" model="Model.AllStudyFields" />
    </div>
   
    </div>
