@model List<UCL.ISM.Client.Models.ApplicantVM>
@{
    ViewData["Title"] = "Index";
}

<div style="padding: 10px 7px 40px 7px; background-image: linear-gradient(to bottom, #cbe5e4, #edf9fc);">
    <div class="text-center" style="margin-top: 40px; padding: 10px 7px 10px 7px">
        <h2 style="color: #014550">Velkommen</h2>
    </div>

        <div class="dropdown ucl-dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Sorter
            </button>
            <div class="dropdown-menu" style="background-color: #014550;">
                <div class="dropdown-header" style="color: #fff; font-weight: 700;">ALLE ANSØGERE</div>
                <a asp-action="SortByPriority" asp-controller="Administration" class="btn btn-default dropdown-item" style="color: #fff;"> Prioritet</a>
                <div class="dropdown-divider"></div>
                <div class="dropdown-header" style="color: #fff;">EU</div>
                <a asp-action="SortByEU" asp-controller="Administration" class="btn btn-default dropdown-item" style="color: #fff;"> Ansøgere</a>
                <a asp-action="SortByEUPriority" asp-controller="Administration" class="btn btn-default dropdown-item" style="color: #fff;"> Prioritet</a>
                <div class="dropdown-divider" style="color: #fff;"></div>
                <div class="dropdown-header" style="color: #fff;">IKKE EU</div>
                <a asp-action="SortByNonEU" asp-controller="Administration" class="btn btn-default dropdown-item" style="color: #fff;"> Ansøgere</a>
                <a asp-action="SortByNonEUPriority" asp-controller="Administration" class="btn btn-default dropdown-item" style="color: #fff;"> Prioritet</a>
            </div>
        </div>


        <div class="row" id="applicants" style="margin-top: 30px;">
            @for (int i = 0; i < Model.Count(); i++)
            {
                <div class="col-sm-6 col-lg-4 d-flex">
                    <partial name="../Administration/Partials/_ApplicantWithoutSchema" model="@Model[i]" />
                </div>
            }
        </div>
    </div>


