
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table border="0">
    <thead>
        <tr>
            <th class="col">
                Prio
            </th>
            <th class="col">
                Ansøgere
            </th>
            <th class="col">
                Fag
            </th>
            <th class="col">
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                tesgfsgsd
            </td>
            <td>
                
                tret
            </td>
            <td>
                fsafsd
            </td>
            <td>
                gdsggdsgdf
            </td>
        </tr>
    </tbody>
</table>
