@model List<UCL.ISM.Client.Models.ApplicantVM>
@{
    ViewData["Title"] = "Index";
}
<br />
<h2>Ansøgere der ikke har fået tildelt et interview skema endnu</h2>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2">
            <b>Fornavn</b>
        </div>
        <div class="col-xs-2">
            <b>Efternavn</b>
        </div>
        <div class="col-xs-2">
            <b>Email</b>
        </div>
        <div class="col-xs-2">
            <div class="row">
                <div class="col-xs-8">
                    <b>Alder</b>
                </div>
                <div class="col-xs-4">
                    <b>EU</b>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <b>Prioritet</b>
        </div>
        <div class="col-xs-2">
            <b>Nationalitet</b>
        </div>
    </div>
    @for(int i = 0; i < Model.Count(); i++)
    {
        <partial name="../Administration/Partials/_ApplicantWithoutSchema" model="@Model[i]" />
    }
</div>

