
@{
    ViewData["Title"] = "Index";
}
<br />
<h2>Index</h2>
<br />
<div class="container">
    <div class="form-group" id="applicants">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th class="col-lg-2">Prioritet</th>
                    <th class="col-lg-2">Fornavn</th>
                    <th class="col-lg-2">Efternavn</th>
                    <th class="col-lg-2">Fag</th>
                    <th class="col-lg-2">Status</th>
                    <th class="col-lg-2">Interviewer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">gsgrgrsr</td>
                    <td class="text-center">rsgrgs</td>
                    <td class="text-center">rgrgs</td>
                    <td class="text-center">unknown</td>
                    <td class="text-center">
                        <select class="form-control">
                            <option selected="selected" value=""></option>
                            <option value="">Henrik Steen Krogh</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

